<div class="detail">
  <div class="control">
    <button (click)="handleAddMode()" class="add-button">Add</button>
    <button
      (click)="handleEditMode()"
      class="edit-button"
      [disabled]="!selectedBand"
    >
      Edit
    </button>
    <button
      (click)="handleDelete()"
      class="delete-button"
      [disabled]="!selectedBand"
    >
      Delete
    </button>
  </div>

  <div *ngIf="selectedBand" class="band-info">
    <h1>Band Title: {{ selectedBand.bandTitle }}</h1>
    <p>Genre: {{ selectedBand.genre }}</p>
    <div class="imgContainer">
      <img *ngIf="selectedBand.imageUrl" src="{{ selectedBand.imageUrl }}" />
      <img *ngIf="!selectedBand.imageUrl" src="placeholder.jpeg" />
    </div>
    <!-- <p>{{ selectedBand.id }}</p> -->
  </div>
  <div *ngIf="!selectedBand" class="band-info">
    <h1>Either add a new band if there are none or select a band</h1>
  </div>

  <div *ngIf="mode === 'add'">
    <h1>Add a new band</h1>
    <form #f="ngForm" (ngSubmit)="onAddSubmit(f)">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [ngModel]="band?.name"
        #name="ngModel"
        required
      />
      <label for="genre">Genre:</label>
      <input
        type="text"
        id="genre"
        name="genre"
        [ngModel]="band?.genre"
        #genre="ngModel"
        required
      />
      <label for="imageUrl">Image Url:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        [ngModel]="band?.imageUrl"
        #imageUrl="ngModel"
        required
      />
      <button type="submit">Create Band</button>
    </form>
  </div>

  <div *ngIf="selectedBand && mode === 'edit'">
    <h1>Edit band above</h1>
    <form #f="ngForm" (ngSubmit)="onEditSubmit(f)">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        [ngModel]="band?.name"
        #name="ngModel"
        required
      />
      <label for="genre">Genre:</label>
      <input
        type="text"
        id="genre"
        name="genre"
        [ngModel]="band?.genre"
        #genre="ngModel"
        required
      />
      <label for="imageUrl">Image Url:</label>
      <input
        type="text"
        id="imageUrl"
        name="imageUrl"
        [ngModel]="band?.imageUrl"
        #imageUrl="ngModel"
        required
      />
      <button type="submit">Edit Band</button>
    </form>
  </div>
</div>

<style>
  .detail {
    width: 500px;
  }
  .control {
    display: flex;
    justify-content: center;
  }
  .control button {
    margin: 5px;
  }
  .edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .edit-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #ccc;
    color: black;
  }
  .add-button {
    background-color: limegreen;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .add-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #ccc;
    color: black;
  }
  .delete-button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .delete-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #ccc;
    color: black;
  }
  .detail {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    background-color: #fff; 
  }
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  p {
    font-size: 24px;
  }
  button {
    font-size: 18px;
  }
  .imgContainer {
    text-align: center;
  }
</style>
